/*タブレット向け*/

@media all and (max-width:1024px) {
    body {
    font-size: 0.8rem;

    }

    .top-wrapper .container {
        height: 500px;
    }
}


/*スマホ向け*/

@media all and (max-width:599px) {

    html {
        overflow-x: auto;
    }

    body {
        font-size: 0.6rem;
        overflow-x: hidden;
        
        
        
    }

   .container {
        min-width: 100vw;
        

   } 
    
    .top-wrapper .container {
        height: 300px;
    }

    .about-list li {
        width: 100%;
    
    }

    .running-wrapper>.container>.open-time-box {
        padding: 0 10%;
    }
    
    footer .container {
        display: none;
    }

    footer .container-sp {
        display: block;
    }

    header>.container {
        
        align-items: center; 
        padding-right: 20px;
    

    }


    .btn {
        display: inline-block;
       
        
       
       


    }
        /**************** 以下、メニューのスタイリング ****************/
    .menu {
        /* メニューを縦に */
        display: flex;
        flex-direction: column;
        position: absolute;
        /* メニューの位置マイナス指定で画面外に */
        right: -100%;
        width: 100%;
       
        background-color: rgba(167, 148, 58, 0.7);
        color: #efefef;
        transition: .3s;


        
        
    }

    .menu a {
        color: #ffffff;
    }
    
    header .menu {
        height: auto;
    } 

    .menu li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .menu .li:hover {
        background-color: rgba(255, 255, 255, .5);
        color: #333;
        cursor: pointer;
        transition: .3s;
    }
    /***** メニューオープン時位置0にして画面内に *****/
    .menu.open {
        /* position: absolute; */
        right: 0;
        
    }

   
    
}

